@import url(/css/normalize.css);
body { margin: 0; padding: 0; }

#root { display: -webkit-box; display: -ms-flexbox; display: flex; position: relative; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; font-family: Arial, Helvetica, sans-serif; min-height: 100vh; z-index: 1; }

#root button { border: none; border-radius: 8px; padding: 0.5rem; cursor: pointer; }

#root button:hover { background-color: #cacaca; }

header { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; font-size: 0.8rem; padding: 1rem 0; }

header #loginForm { -ms-flex-item-align: center; align-self: center; display: -webkit-box; display: -ms-flexbox; display: flex; margin-right: 3rem; -ms-flex-pack: distribute; justify-content: space-around; }

header #loginForm input { margin-right: 0.6rem; }

header #loginForm #loginBtn { background-color: black; color: white; }

header #loginForm #loginBtn:hover { background-color: #464646; }

header #errorMsg { -webkit-box-ordinal-group: 0; -ms-flex-order: -1; order: -1; -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center; margin-right: 1rem; }

header #onlineBox { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-column-gap: 1rem; column-gap: 1rem; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-right: 3rem; -ms-flex-pack: distribute; justify-content: space-around; }

header #onlineBox #viewToggle { background-color: #585858; color: white; }

header #onlineBox #viewToggle:hover { background-color: #333333; }

header #onlineBox #logoutBtn { background-color: #af4747; color: white; }

header #onlineBox #logoutBtn:hover { background-color: #8a3535; }

main { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-line-pack: center; align-content: center; text-align: center; position: relative; }

main #editContentContainer { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-column-gap: 1rem; column-gap: 1rem; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 100vw; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 20%; }

main #editContentContainer h2 { -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center; width: 100%; margin-top: 2rem; }

main #editContentContainer h3 { text-align: start; font-size: 1rem; width: 100%; margin-bottom: 0; }

main #editContentContainer input { width: 100%; }

main #editContentContainer textarea { width: 100%; height: 15rem; }

main #editContentContainer #saveContentBtn { width: 8rem; margin: 1.5rem 10rem; }

main #editThemeContainer { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-column-gap: 1rem; column-gap: 1rem; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 100vw; }

main #editThemeContainer h2 { -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center; width: 100%; }

main #editThemeContainer h3 { width: 40vw; text-align: end; font-size: 1rem; }

main #editThemeContainer select { width: 11rem; margin-right: 30%; }

main #editThemeContainer input { margin-right: 30%; }

main #editThemeContainer button { margin-top: 1rem; width: 8rem; }

main #editThemeContainer #saveEditsBtn { width: 8rem; margin-left: 26rem; }

main #editThemeContainer #saveThemeBtn { width: 8rem; margin-right: 26rem; }

main #editThemeContainer #randomColourBtn { width: 17rem; margin-left: 30rem; margin-right: 30rem; padding: 0.5rem; }

main #editThemeContainer #saveThemeContainer { border: 1px dotted black; background-color: rgba(22, 22, 22, 0.116); width: 20rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 1rem; margin: 2rem 27rem 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

main #editThemeContainer #saveThemeContainer input { margin-right: 0; width: 70%; }

main #editThemeContainer #saveThemeContainer button { margin-top: 0.7rem; }

main #editThemeContainer #saveThemeContainer #saveThemeBtn2 { background-color: #47494b; color: white; }

main #editThemeContainer #saveThemeContainer #saveThemeBtn2:hover { background-color: #303133; }

main #editThemeContainer #saveThemeContainer #cancelBtn { width: 5rem; }

main #editThemeContainer #saveThemeContainer #cancelBtn:hover { background-color: white; }

main #themesDiv { padding: 3rem 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; }

main #themesDiv h2 { margin-top: 0; }

main #themesDiv ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-column-gap: 0.7rem; column-gap: 0.7rem; row-gap: 0.7rem; padding: 0; width: 60%; }

main #themesDiv ul li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: baseline; -ms-flex-align: baseline; align-items: baseline; -webkit-column-gap: 0.3rem; column-gap: 0.3rem; padding: 0.3rem 0.5rem; cursor: pointer; border: 1px solid #e2e2e2; border-radius: 25px 25px; }

main #themesDiv ul li:hover { background-color: #e2e2e2; }

main #themesDiv ul li #colorSwatch { -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center; width: 1rem; height: 1rem; }

main #themesDiv ul li button { padding: 0.2rem; width: 1.7rem; font-size: 0.8rem; color: white; background-color: rgba(226, 95, 95, 0.63); }

main #themesDiv ul li button:hover { background-color: #e25f5f; }

main #contentContainer { height: 100%; width: 100vw; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; position: absolute; top: 0; z-index: 999; }

main #contentContainer h1 { margin-top: 0; }

main #contentContainer p { padding: 0 8rem; }

footer { text-align: center; padding: 3rem; background-color: thistle; }

.coloris { width: 4rem; height: 1.5rem; background-color: white; }
/*# sourceMappingURL=main.css.map */